<div class="dialog-overlay" (click)="handleOverlayClick()">
  <div class="dialog-container" [style.min-width]="width()" (click)="handleContainerClick($event)">
    <div class="dialog-header">
      <h2 class="dialog-title">{{ title() }}</h2>
      @if (message()) {
        <p class="dialog-message">{{ message() }}</p>
      }
      <ng-content select=".dialog-header-content"></ng-content>
    </div>
    <div class="dialog-body">
      <ng-content select=".dialog-body-content"></ng-content>
    </div>
    <div class="dialog-footer">
      <ng-content select=".dialog-footer-content"></ng-content>
    </div>
  </div>
</div>

