:host {
  display: block;
  width: 100%;
}

select {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.4rem;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  background-color: var(--color-surface-0);
  color: var(--color-text);
  font-family: inherit;
  font-size: 0.9rem;
}

select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

